@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --cor1: #A8CCED;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}

main {
    position: fixed;
    z-index: 1;
}

#navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor1);
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#nav-content {
    padding: 14px;
    font-size: 1.3em;
    text-align: center;
    font-family: 'Oswald', sans-serif;

    text-transform: uppercase;
}

#nav-items {
    display: flex;
    flex-direction: column;
    gap: 14px;
    list-style: none;
}

.nav-item {
    padding: 14px;
}

.nav-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: black;
}

.nav-description:hover {
    color: white;
    transition: all .5s;
}

.nav-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

i {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

i:hover {
    color: white;
    transition: all .7s;
}

#logout {
    padding: 12px;
}

#logout_btn {
    border: none;
    padding: 12px;
    font-size: 1.02em;
    font-weight: 400;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    background-color: transparent;
}

#logout:hover {
    color: white;
}

#logout_btn:hover {
    color: white;
    transition: all .5s;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
}

#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: black;
    color: #A8CCED;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 30%;
}

#open_btn_icon {
    color: white;
    transition: transform .3s ease;
}

.nav-description {
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.05;
    transition: width .6s;
    height: 0px;
}

#navbar.open-navbar {
    min-width: 15%;
}

#navbar.open-navbar .nav-description {
    width: 150px;
    height: auto;
}

#navbar.open-navbar .nav-item a {
    justify-content: flex-start;
    gap: 14px;
}